<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (2014-07-09 16:52)</string>
	<string>Mlocal build-2014-06-18 15:38:15 +0000</string>
	<string>G-r8-1GP145</string>
</array>
</plist>
